@import '../../../vars.scss';

.input{
    @extend %default-font;
    padding: 5px 10px;
    color: $default-colour;
    font-size: 18px;
    border: 0px;
    background: rgb(231, 231, 231);
    width: 100%;
}