@import '../../../vars.scss';

.avatar-changer{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.438);
    z-index: 100;
    &__inner{
        flex-basis: 450px;
        background: white;
        border-radius: 10px;
        padding: 15px;
    }

    &__input{
        padding: 10px;
        height: 200px;
        border: 3px dashed $secondary;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__prev{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden ;
    }

    &__prev-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 20px;
    }

    &__close-btn{
        cursor: pointer;
        background: none;
        margin-left: 10px;
        color: $navigation-clolor;
        @extend %title-font;
        font-size: 14px;
        font-weight: 500;
    }

}

.avatar-changer.active{
    display: flex;
}