.layout{
    &__header{
        position: sticky;
        top: 0px;
    }

    &__sidebar{
        margin-right: 10px;
        min-width: 180px;
    }

    &__outlet{
        padding: 10px;
        width: 100%;
    }
}
.app-content{
    display: flex;
    margin-top: 10px;
}
