//colors
$body-bg: #f6efff;
$primary: #fb9300;
$primary-hover: #ffa528;
$secondary: #bfe9e3;
$secondary-hover: #b0fff3;



//txt
$navigation-clolor: #1b1b1b;
$naigation-hover: #e5e3f0;
$title-2: #170c42;
$default-colour: rgb(8, 8, 8);
$fade-black: rgb(78, 78, 78);


%title-font{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

%default-font{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
}